.chat-text-panel-container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-user-info-box{
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    border: 0.5px solid rgb(100, 100, 100);
}

.chat-thread-box{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 0.5px solid rgb(100, 100, 100);
    display: block;
    overflow-y: scroll;
}

.chat-text-area-box{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    /* border: 0.5px solid rgb(100, 100, 100); */
}

.chat-text-area-box>input{
    position: relative;
    /* resize: none; */
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    outline: none;
    border: 0.5px solid rgb(190, 190, 190);
    border-radius: 30px;
    font-family: inherit;
    font-size: 16px;
    padding: 10px 25px 10px 25px;
    -webkit-transition: 0.12s ease-in-out;
    transition: 0.12s ease-in-out;
}

.chat-text-area-box>input:focus{
    border: 0.5px solid rgb(120, 120, 120);
}

.chat-text-area-box>button{
    position: absolute;
    top: 2px;
    right: 2px;
    width: 46px;
    height: 46px;
    /* border: 0.5px solid rgb(100, 100, 100); */
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 25px;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 8px;
    outline: none;
    -webkit-transiton: 0.12s ease-in-out;
    transition: 0.12s ease-in-out;
}

.chat-text-area-box>button:hover{
   background-color: rgb(231, 231, 231);
}

.chat-text-area-box>button:active, .button-active{
    background-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
}
